*.o
*.exe
.DS_Store
Makefile-backup
config/PhysiCell_settings-backup.xml
documentation/.DS_Store
unit_tests/.DS_Store
sample_projects/.DS_Store
sample_projects/biorobots/.DS_Store
sample_projects/cancer_biorobots/.DS_Store
sample_projects/cancer_immune/.DS_Store
sample_projects/celltypes3/.DS_Store
sample_projects/heterogeneity/.DS_Store
sample_projects/template/.DS_Store