*.asv
._.DS_Store
.DS_Store
*.exe
*.o
addons/libRoadrunner/roadrunner/
addons/libRoadrunner/roadrunner-win64-vs14-cp35m.zip
addons/PhysiBoSS/MaBoSS/
addons/PhysiBoSS/libMaBoSS-*.tar.gz
biorobots
cancer_immune_3D
config/PhysiCell_settings-backup.xml
heterogeneity
initial.svg
interaction_demo
Makefile-backup
pmb_debug.log
project
studio_debug.log
user_projects/*
!user_projects/empty.txt
Studio.zip
/studio
